<aside class="sidebar">
  <button class="navbar-toggle"></button>

  <a href="https://github.com/hangyangws" class="navbar-github-link" target="_blank">
    <img
      width="120"
      height="120"
      src="<%- theme.github %>"
      class="navbar-github"
      alt="Fork me on GitHub"
      data-recalc-dims="1"
    />
  </a>

  <nav class="navbar">
    <% if (theme.brand) { %>
      <a class="logo" href="<%- url_for() %>">
        <img src="<%- theme.brand %>" alt="<%= config.title %>">
      </a>
    <% } %>
    <ul class="nav nav-main">
      <% for (var i in theme.menu){ %>
        <li class="nav-item">
          <a class="nav-item-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        </li>
      <% } %>
      <li class="nav-item">
        <a class="nav-item-link nav-item-search" title="<%= __('search') %>">
          <i class="fe fe-search"></i>
          <%- theme.search_text %>
        </a>
      </li>
    </ul>
  </nav>

  <nav class="navbar navbar-bottom">
    <ul class="nav">
      <li class="nav-item">
        <%- partial('totop') %>
      </li>
    </ul>
  </nav>

  <div class="search-form-wrap">
    <%- partial('post/search') %>
  </div>
</aside>